:root {
    --brand-green: #819B17;
    --text-light: #faf4ea;
    --text-dark: #31261a;
}
body {
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
address {
    font-style: normal;
}


ul {
    list-style-type: none;
}
button {   
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
}
button:hover {
    background-color: transparent;
    color: var(--brand-green);
}
button:focus {
    background-color: transparent;
}

.header-link {
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
}
.header-link:hover {
    color: var(--brand-green);
    font-weight: 600;
}
.title-span {
    color: var(--brand-green);
}
.hero-title {
    font-family: 'Poppins';
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 1.5;
    
}
.advantages-list {
    background-color: var(--brand-green);
    font-size: 20px;
    font-weight: 300;
}
.section-title {
    color: var(--text-dark);
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}
.shef-accent {
    color: var(--brand-green);
}
.shop-bakery-uppercase span {
    text-transform: uppercase;
    color: var(--brand-green);
}
.shop-bakery span {
    color: var(--brand-green);
}
.chef-title {
    font-size: 40px;
    font-weight: 600;
}
.text-format {
    font-size: 14px;
    font-weight: 300;
}
.adress-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--text-light);
    text-decoration: none;
}.adress-link:hover {
    color: var(--brand-green);
}
.adress-copyright {
    font-size: 14px;
    font-weight: ;
}


